{
    "extends": ["next", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": [
            "off",
            {
                "printWidth": 80,
                "singleQuote": false,
                "trailingComma": "es5",
                "semi": false,
                "tabWidth": 4
            }
        ],
        "react/no-unescaped-entities": 0
    }
}
